<!DOCTYPE html>
<html>
<head>
<title>Comercio con Cultura</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
		 <script src="js/scripts.js" type="text/javascript"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
				<div class="header-top-right">
				<!-- start search-->
				<!--
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
				-->
					<!-- search-scripts -->
					<!--
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					-->
					<!-- //search-scripts -->

					<a href="cart.html"><i class="cart"></i></a>
				</div>
			<div class="navigation">	
			<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav">
              <li class="active"><a href="index.html">Principal</a></li>                       
              <li class="dropdown1"><a href="#">Ropa</a>
                <ul class="dropdown2">
                  <li><a href="products.html">Vestidos</a></li>
                  <li><a href="products.html">Pantalones</a></li>
				  <li><a href="products.html">Playeras</a></li>
                </ul>
              </li>             
              <li class="dropdown1"><a href="#">Calzado</a>
              	<ul class="dropdown2">
                  <li><a href="products.html">Chanclas</a></li>
                  <li><a href="products.html">Tennis</a></li>
				  <li><a href="products.html">Zapatos</a></li>
                </ul>
              </li>
           </li>           
           <li class="dropdown1"><a href="#">Accesorios</a>
           	<ul class="dropdown2">
                  <li><a href="products.html">Bolsas</a></li>
                  <li><a href="products.html">Collares</a></li>
                </ul>
           </li>        
            <li><a href="cart.html">Contáctanos</a></li>
            <div class="clearfix"></div>
          </ul>
		</div>			
	 </div>
			</div>




<div class="contact-section">
					<div class="contact-section-head text-center">
						<h3><span>C</span>ontáctanos</h3>
						<p>“Colabora con alguna campaña”</p>
					</div>
					<div class="contact-form-main">
						<form>
							<label class="span1"></label>
							<input type="text" class="text" value="Nombre..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
							<label class="span2"></label>
							<label class="span3"></label>
							<input type="text" class="text" value="Correo..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
							<label class="span4"></label>
							<label class="span5"></label>
							<input type="text" class="text" value="Teléfono..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone...';}">
							<label class="span6"></label>
							<label class="span7"></label>
							<textarea onfocus="if(this.value == 'Mensaje ...') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Message...</textarea>
							<label class="span8"></label>
							<input type="submit" value="">
						</form>
					</div>

			</div>
</body>
</html>